/****************
 * main.css
 * Platanus 2017
 * Tetsuro Sakamoto
****************/

/****************
 * general
****************/
* {
  color: #424242;
}

body {
    background-color: #F5F5F5;
}

a {
  text-decoration: none;
  /*font-weight: bold;*/
  color: #337AB7;
}

/****************
 * main
****************/
h2 {
    padding-left: 0.3em;
    border-left: solid 0.5em #424242;
    border-bottom: solid 0.1em #424242;
}
h3 {
    padding-left: 0.3em;
    border-left: solid 0.5em #B71C1C;
}
h4 {
    padding-left: 0.3em;
    border-left: solid 0.5em #424242;
}

/****************
 * header
****************/
header {
    /*padding: 1em;*/
    background-image: url(/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
}
header h1,
header h2,
header h3 {
    padding: unset;
    border: unset;
    margin: 0;
}
img {
    max-width: 100%;
}
